@charset "UTF-8";
/* shared botkit ui styles */
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  font-size: 18px;
  background-color: #FFF;
  font-family: "helvetica", sans-serif;
}

a {
  color: #1432e0;
}

h1 {
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2 {
  font-weight: normal;
  font-size: 1.25rem;
  margin-top: 0;
}

h3 {
  font-size: 1rem;
  margin-top: 0;
}

textarea,
input[type=text],
input[type=search],
input[type=password] {
  width: 100%;
}

p {
  margin-top: 0;
}

.breadcrumbs {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.breadcrumbs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs ul li {
  display: inline-block;
}
.breadcrumbs ul li a {
  color: #CCC;
  text-decoration: none;
}
.breadcrumbs ul li a:hover {
  color: #283ed8;
  text-decoration: underline;
}
.breadcrumbs ul li:after {
  content: "/";
  margin: 0 0.5rem;
  color: #CCC;
  display: inline-block;
}
.breadcrumbs ul li:last-child:after {
  display: none;
}

.outside_wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.wrapper {
  padding: 1rem;
  margin: 0 auto;
}

.pane {
  margin-bottom: 1rem;
  border: 1px solid #CCC;
  padding: 0.75rem;
}

nav {
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #F0F0F0;
  overflow-y: auto;
  width: 80px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0rem;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: #283ed8;
}

nav ul li .icon {
  font-size: 2rem;
  display: block;
}
nav ul li .icon img {
  max-width: 50%;
}

nav ul li {
  padding: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

nav ul li:hover {
  background-color: white;
  border-radius: 4px;
}

.content_wrapper {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
}

table.cells {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 0.8rem;
}

table.cells th {
  text-align: left;
  font-weight: normal;
  border-right: 1px solid #666666;
}

table.cells .right {
  text-align: right;
}

table.cells .ellipsis {
  position: relative;
  width: 20px;
}
table.cells .ellipsis .ellipsis_menu {
  position: relative;
  top: 0;
  right: 0;
}

table.cells td,
table.cells th {
  padding: 0.75rem 0.75rem;
}
table.cells td.select,
table.cells th.select {
  width: 60px;
  text-align: center;
}

table.cells tr:hover td {
  background: #f0f0F0;
}
table.cells tr:hover.selected td {
  background: #FFFF99;
}

table.cells tr.dndPlaceholder td {
  background: #ffffCC;
  padding: 2rem;
}

table.cells tr.selected {
  background: #ffffCC;
}

table.cells td {
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
table.cells td:last-child {
  border-right: 0;
}

table.cells tr:nth-child(2n+1) {
  background: #F8F7FF;
}
table.cells tr:nth-child(2n+1).selected {
  background: #ffffCC;
}

table.cells tr.header {
  background: #333;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

button {
  background: #DDD;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  outline: none;
}
button.primary {
  background-color: #b0f0ab;
}
button.primary:disabled {
  color: #CCC;
  background: #f7f7f7;
}
button.primary:disabled:hover {
  background: #f7f7f7;
}
button.big {
  font-size: 1.25rem;
}
button:disabled {
  color: #CCC;
}
button:disabled:hover {
  background: #f7f7f7;
}
button:hover {
  background: #D8117D;
  color: #fff;
}
button:active {
  background: #D8117D;
  color: #fff;
}

.toolbar {
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  position: relative;
}
.toolbar.bottom {
  border-bottom: 1px solid #CCC;
  margin-top: 1rem;
}
.toolbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.toolbar ul li {
  display: inline-block;
  padding: 0.25rem;
  border-right: 1px solid #CCC;
}
.toolbar ul li input[type=search] {
  margin: 6px;
}
.toolbar ul li button {
  background: transparent;
  border: 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  outline: none;
}
.toolbar ul li button.hangry {
  background: #b0f0ab;
}
.toolbar ul li button:disabled {
  color: #CCC;
}
.toolbar ul li button:disabled:hover {
  background: #f7f7f7;
}
.toolbar ul li button:hover {
  background: #DDD;
}
.toolbar ul li button:active {
  background: #D8117D;
  color: #fff;
}
.toolbar ul.right {
  position: absolute;
  right: 0;
  top: 0;
}
.toolbar ul.right li {
  border-left: 1px solid #CCC;
  border-right: 0;
}

.workspace {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 80px;
  right: 0;
  bottom: 0;
}
.workspace > header {
  padding: 0.75rem;
  display: flex;
}
.workspace .leftbit {
  flex: 0 1 300px;
}
@media all and (max-width: 1000px) {
  .workspace .leftbit {
    display: none;
  }
}
.workspace > section {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.workspace .pane {
  border-left: 0;
  border-bottom: 0;
  margin-bottom: 0;
  padding: 0;
}
.workspace .pane h2 {
  margin: 0;
  margin-bottom: 1rem;
}
.workspace .pane:last-child {
  border-right: 0;
}
.workspace .pane section {
  padding: 0.75rem;
}

.dialog_navigator {
  flex: 0 1 300px;
  height: 100%;
  overflow-y: auto;
}
@media all and (max-width: 1000px) {
  .dialog_navigator {
    display: none;
  }
}
.dialog_navigator form input[type=search] {
  width: 100%;
}
.dialog_navigator .toolbar {
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #CCC;
}
.dialog_navigator .threads ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.dialog_navigator .threads ul li {
  padding: 0.25rem 0.5rem;
  position: relative;
}
.dialog_navigator .threads ul li .ellipsis_menu {
  display: none;
}
.dialog_navigator .threads ul li.selected {
  background: #bcc4f1;
}
.dialog_navigator .threads ul li.selected .ellipsis_menu {
  display: block;
  top: 0.25rem;
  right: 0.5rem;
}

.dialog_view {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dialog_view header {
  flex: 0;
  padding: 0.75rem;
  padding-left: calc(1rem + 10px);
  border-bottom: 1px solid #CCC;
  font-size: 0.75rem;
}
.dialog_view header .trigger_list li {
  display: inline-block;
  margin-right: 1rem;
  padding-bottom: 1rem;
}
.dialog_view .message_list {
  flex: 1;
  overflow-y: auto;
}
.dialog_view .composer {
  flex: 0;
  height: 60px;
  border-top: 1px solid #CCC;
  padding: 0.75rem;
}
.dialog_view .composer form {
  display: flex;
}
.dialog_view .composer form input[type=text] {
  flex: 1;
  margin-right: 1rem;
  border: 0;
  outline: none;
}
.message_list .line {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 10px solid transparent;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
.message_list .line:hover {
  border-left: 10px solid #DDD;
}
.message_list .addMessageWidget {
  border-top: 1px dashed #CCC;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: calc(1rem + 10px);
}
.message_list .line:after {
  content: " ";
  display: block;
  clear: both;
}
.message_list .message .text {
  padding: 0.5rem;
  border-radius: 20px;
  max-width: 300px;
  border-bottom-left-radius: 0;
  border: 1px solid #CCC;
  background: #FFF;
  color: #000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.message_list .message .message_action {
  padding-left: 5px;
}
.message_list .message:after {
  content: " ";
  display: block;
  clear: both;
}
.message_list .fromBot .text {
  float: left;
  background: #F1F0F0;
}
.message_list .fromUser .text {
  float: right;
  background: blue;
  color: #FFF;
}
.message_list .quick_reply {
  display: inline-block;
  border-radius: 20px;
  color: #283ed8;
  border: 1px solid #283ed8;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.message_list .quick_reply:last-child {
  margin-right: 0;
}

.dialog_overlay,
.edit_dialog_overlay {
  display: none;
  padding: 1rem;
}
.dialog_overlay.active,
.edit_dialog_overlay.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(70, 130, 180, 0.75);
  z-index: 1000;
}
.dialog_overlay .dialog,
.edit_dialog_overlay .dialog {
  position: absolute;
  top: 5%;
  transform: translate(-50%, 0%);
  left: 50%;
  max-height: 90%;
  overflow: hidden;
  max-width: 1000px;
  width: 80%;
  min-width: 600px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.dialog_overlay .dialog header,
.edit_dialog_overlay .dialog header {
  padding: 1rem 2rem 1rem;
  position: relative;
}
.dialog_overlay .dialog header .x,
.edit_dialog_overlay .dialog header .x {
  position: absolute;
  right: 0;
  top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  background: transparent;
}
.dialog_overlay .dialog header .x:hover,
.edit_dialog_overlay .dialog header .x:hover {
  background: #DDD;
}
.dialog_overlay .dialog header .x:active,
.edit_dialog_overlay .dialog header .x:active {
  background: #D8117D;
  color: #fff;
}
.dialog_overlay .dialog header .right,
.edit_dialog_overlay .dialog header .right {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
.dialog_overlay .dialog header h1,
.edit_dialog_overlay .dialog header h1 {
  font-size: 0.8rem;
  margin: 0;
}
.dialog_overlay .dialog footer,
.edit_dialog_overlay .dialog footer {
  border-top: 1px solid #CCC;
  padding: 1rem 2rem;
  background: #333;
}
.dialog_overlay .dialog section,
.edit_dialog_overlay .dialog section {
  display: block;
  flex: 1;
  flex-basis: auto;
  overflow-y: auto;
}
.dialog_overlay .dialog section h2,
.edit_dialog_overlay .dialog section h2 {
  border-bottom: 1px solid #CCC;
}
.dialog_overlay .dialog section.pane,
.edit_dialog_overlay .dialog section.pane {
  padding: 1rem 2rem;
  border: 0;
  margin-bottom: 0;
}

.message_detail textarea {
  height: 100px;
  font-size: 1.5rem;
  line-height: 125%;
}

.summary {
  padding-top: 0.5rem;
}

.paths {
  border-left: 2px solid #CCC;
  margin-top: -4px;
  margin-left: 0.75rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.paths:after {
  content: "";
  display: table;
  clear: both;
}
.paths .message_option {
  margin-bottom: 0.5rem;
}
.paths .message_option:before {
  content: "if";
  display: block;
  font-size: 14px;
  width: 20px;
  height: 20px;
  line-height: 1.45em;
  text-align: center;
  border-radius: 50%;
  background-color: #CCC;
  position: absolute;
  left: -1.55rem;
  top: 0.4rem;
}

.test {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  border: 2px solid #a795ef;
  color: #a795ef;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.test .variable.right,
.test .utterance.right {
  margin-right: -0.5rem;
  margin-left: 0.25rem;
}
.test .variable.left,
.test .utterance.left {
  margin-left: -0.5rem;
  margin-right: 0.25rem;
}

.collapsed_logic {
  font-size: 0.75rem;
  color: #CCC;
}

.utterance {
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  background: #0077e5;
  color: #FFF;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.warning {
  padding: 0.25rem 1rem;
  border-radius: 20px;
  background: #FFFFCC;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.condition {
  display: block;
  position: relative;
  line-height: 2rem;
}
.condition:before {
  content: "if";
  display: inline-block;
  font-size: 14px;
  width: 20px;
  height: 20px;
  line-height: 1.45em;
  text-align: center;
  border-radius: 50%;
  background-color: #CCC;
  top: 0.4rem;
}

.message_option {
  font-size: 0.75rem;
  line-height: 2rem;
  width: auto;
  display: block;
  clear: both;
  position: relative;
  color: #000;
}
.message_option.with_condition {
  margin-left: 1.5rem;
}
.message_option.with_condition:before {
  content: " ";
  display: block;
  border-left: 2px solid #CCC;
  border-bottom: 2px solid #CCC;
  height: 25px;
  width: 18px;
  position: absolute;
  left: -18px;
  top: -10px;
}
.message_option.small {
  font-size: 0.8rem;
}
.message_option.big {
  font-size: 1.2rem;
}
.message_option.next .action, .message_option.repeat .action, .message_option.wait .action, .message_option.complete .action, .message_option.stop .action, .message_option.timeout .action {
  padding-right: 1rem;
}
.message_option.capture {
  margin-bottom: 0;
}
.message_option.else {
  margin-left: 2.5rem;
  margin-top: -1rem;
}
.message_option.else:before {
  content: "else";
  width: 35px;
  border-radius: 25px;
  left: -2.25rem;
  display: block;
  font-size: 14px;
  height: 20px;
  line-height: 1.45em;
  text-align: center;
  background-color: #CCC;
  position: absolute;
  top: 0.4rem;
}
.message_option .warning {
  padding: 0.25rem 1rem;
  border-radius: 20px;
  background: #FFFFCC;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message_option .action {
  padding: 0.25rem 0.5rem;
  padding-right: 0;
  border-radius: 20px;
  border: 2px solid #CCC;
  color: #666;
  white-space: nowrap;
}
.message_option .variable {
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  white-space: nowrap;
  display: inline;
}
.message_option .branch-title,
.message_option .parameter {
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  background: #b0f0ab;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message_option .branch-title {
  cursor: pointer;
}
.message_option .branch-title:hover {
  text-decoration: underline;
}

.addon {
  display: flex;
}
.addon button {
  flex-grow: 0;
  flex-shrink: 0;
}

p label {
  display: block;
}

label.tag {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  display: inline-block;
  border: 1px solid #CCC;
  border-bottom: 0;
  background: #333;
  color: #fff;
}

.widget {
  border: 1px solid #CCC;
}

.variable {
  border-radius: 20px;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  white-space: nowrap;
  color: #000;
  background: #d6edf7;
  display: inline-block;
}

.execute_script_widget {
  display: flex;
}
.execute_script_widget button.select {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.execute_script_widget header {
  background: #333;
  color: #fff;
  padding: 0 !important;
}
.execute_script_widget header p {
  margin: 0;
}
.execute_script_widget .current_action {
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  overflow: auto;
  padding: 0.75rem;
}
.execute_script_widget .current_action .message_option .action {
  border: 2px solid #666666;
}
.execute_script_widget .script_browser {
  flex-grow: 1;
  flex-shrink: 1;
}
.execute_script_widget .script_browser p {
  padding: 0.75rem;
}
.execute_script_widget .script_browser form {
  padding: 0.75rem;
  border-bottom: 1px solid #CCC;
}
.execute_script_widget .script_browser .starting_points {
  flex: 1;
  flex-basis: 600px;
}
.execute_script_widget .script_browser .script_results {
  display: flex;
  width: 100%;
}
.execute_script_widget .script_browser .script_results .scripts {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 150px;
  border-right: 1px solid #CCC;
}
.execute_script_widget .script_browser .script_results .scripts .active {
  background-color: #ffffCC;
}
.execute_script_widget .script_browser .script_results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.execute_script_widget .script_browser .script_results ul li {
  border-bottom: 1px solid #CCC;
  padding: 0.75rem;
  position: relative;
}
.execute_script_widget .script_browser .script_results ul li:nth-child(2n+1) {
  background: #F8F7FF;
}
.execute_script_widget .script_browser .script_results ul li:hover {
  background: #f0f0F0;
}

.dialog_overlay .confirm {
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  max-width: 600px;
}
.dialog_overlay .confirm .pane {
  text-align: center;
}
.dialog_overlay .confirm label {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.dialog_overlay .bigInput label {
  display: block;
  font-weight: bold;
}
.dialog_overlay .bigInput input[type=text] {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.dialog_overlay .bigInput input[type=text].error {
  border: 1px solid #dd3333;
}
.dialog_overlay .bigInput .error {
  font-weight: normal;
  color: #dd3333;
}

.ellipsis_menu {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.ellipsis_menu ul {
  display: none;
}
.ellipsis_menu:after {
  content: "⠇";
  font-size: 20px;
}
.ellipsis_menu:hover ul {
  z-index: 3;
  display: block;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 150px;
  height: auto;
  background: #FFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ellipsis_menu:hover ul li {
  padding: 0.75rem;
  font-size: 0.8rem;
}
.ellipsis_menu:hover ul li:hover {
  background-color: #f0f0F0;
}

.branch-title,
.parameter {
  padding: 0.25rem 1rem;
  border-radius: 20px;
  background: #b0f0ab;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.script_triggers {
  display: flex;
  flex-direction: row;
  border: 1px solid #CCC;
  margin-bottom: 1rem;
}
.script_triggers .triggers, .script_triggers .action {
  flex-shrink: 1;
  flex-basis: 50%;
  padding: 1rem;
}
.script_triggers .triggers input, .script_triggers .triggers select, .script_triggers .triggers button, .script_triggers .action input, .script_triggers .action select, .script_triggers .action button {
  font-size: 1.25rem;
}
.script_triggers .triggers {
  border-right: 1px solid #CCC;
}

.trigger_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.trigger_list li {
  padding-bottom: 1rem;
}
.trigger_list li:last-child {
  padding-bottom: 0;
}

.condition_row {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  border: 1px solid #CCC;
  border-top: 0px;
  margin-bottom: 1rem;
}
.condition_row:first-of-type {
  border-top: 1px solid #CCC;
  margin-bottom: 0;
}
.condition_row .variable {
  font-size: 1.1rem;
}
.condition_row input, .condition_row select, .condition_row button {
  font-size: 1.1rem;
}
.condition_row .title {
  flex-basis: 100px;
  border-right: 1px solid #CCC;
}
.condition_row .more_stuff {
  flex-grow: 1;
}
.condition_row .xbutton {
  flex-basis: 50px;
}
.condition_row > div {
  padding: 10px;
}

/*# sourceMappingURL=styles.css.map */
